skisic_web_modul_2/src/wsdl/localhost_8084/skisic_web_modul_1/ProjektWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.skisic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.skisic.nwtis.foi.org/" name="ProjektWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.skisic.nwtis.foi.org/" schemaLocation="http://localhost:8084/skisic_web_modul_1/ProjektWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajLetoveAviona">
<part name="parameters" element="tns:dajLetoveAviona"/>
</message>
<message name="dajLetoveAvionaResponse">
<part name="parameters" element="tns:dajLetoveAvionaResponse"/>
</message>
<message name="dajLetoveAvionaAerodrom">
<part name="parameters" element="tns:dajLetoveAvionaAerodrom"/>
</message>
<message name="dajLetoveAvionaAerodromResponse">
<part name="parameters" element="tns:dajLetoveAvionaAerodromResponse"/>
</message>
<message name="provjeraKorisnika">
<part name="parameters" element="tns:provjeraKorisnika"/>
</message>
<message name="provjeraKorisnikaResponse">
<part name="parameters" element="tns:provjeraKorisnikaResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<message name="dajUdaljenostAerodroma">
<part name="parameters" element="tns:dajUdaljenostAerodroma"/>
</message>
<message name="dajUdaljenostAerodromaResponse">
<part name="parameters" element="tns:dajUdaljenostAerodromaResponse"/>
</message>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="dajAerodromeGranica">
<part name="parameters" element="tns:dajAerodromeGranica"/>
</message>
<message name="dajAerodromeGranicaResponse">
<part name="parameters" element="tns:dajAerodromeGranicaResponse"/>
</message>
<message name="dajAerodromeDrzava">
<part name="parameters" element="tns:dajAerodromeDrzava"/>
</message>
<message name="dajAerodromeDrzavaResponse">
<part name="parameters" element="tns:dajAerodromeDrzavaResponse"/>
</message>
<portType name="ProjektWS">
<operation name="dajLetoveAviona">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajLetoveAvionaRequest" message="tns:dajLetoveAviona"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajLetoveAvionaResponse" message="tns:dajLetoveAvionaResponse"/>
</operation>
<operation name="dajLetoveAvionaAerodrom">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajLetoveAvionaAerodromRequest" message="tns:dajLetoveAvionaAerodrom"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajLetoveAvionaAerodromResponse" message="tns:dajLetoveAvionaAerodromResponse"/>
</operation>
<operation name="provjeraKorisnika">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/provjeraKorisnikaRequest" message="tns:provjeraKorisnika"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/provjeraKorisnikaResponse" message="tns:provjeraKorisnikaResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
<operation name="dajUdaljenostAerodroma">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajUdaljenostAerodromaRequest" message="tns:dajUdaljenostAerodroma"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajUdaljenostAerodromaResponse" message="tns:dajUdaljenostAerodromaResponse"/>
</operation>
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="dajAerodromeGranica">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeGranicaRequest" message="tns:dajAerodromeGranica"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeGranicaResponse" message="tns:dajAerodromeGranicaResponse"/>
</operation>
<operation name="dajAerodromeDrzava">
<input wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeDrzavaRequest" message="tns:dajAerodromeDrzava"/>
<output wsam:Action="http://serveri.ws.skisic.nwtis.foi.org/ProjektWS/dajAerodromeDrzavaResponse" message="tns:dajAerodromeDrzavaResponse"/>
</operation>
</portType>
<binding name="ProjektWSPortBinding" type="tns:ProjektWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajLetoveAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetoveAvionaAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeraKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeGranica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProjektWS">
<port name="ProjektWSPort" binding="tns:ProjektWSPortBinding">
<soap:address location="http://localhost:8084/skisic_web_modul_1/ProjektWS"/>
</port>
</service>
</definitions>